body {
  padding-top: 100px;
  background: #f8f8f6;
  font-family: 'Helvetica';
}

.todo-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.todo-input-wrapper {
  
}

.todo-output-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.todo-output-item > p {
  margin: 0;
}