body {
  padding: 100px 0;
  background: #f8f8f6;
  font-family: 'Helvetica';
  color: #4a4a4a;
}

.todo-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.todo-input-wrapper {
  text-align: left;
  position: relative;
  display: flex;
}

.todo-input-wrapper input {
  background: #f8f8f6;
  border: none;
  font-size: 1rem;
  color: #4a4a4a;
  margin-left: -2px;
}

.todo-input-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid -webkit-focus-ring-color;
}

.todo-input-wrapper .button-update {
  border: none;
  background: #f8f8f8;
  color: #999;
  opacity: 0;
  padding: 0;
  text-align: left;
}

.todo-input-wrapper input:focus + .button-update {
  opacity: 1;
}

.todo-input-wrapper .check-button--unfinished {
  display: inline-block;
}

.todo-output-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 5px;
}

.todo-output-item > p {
  margin: 0;
}

.check-button {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.check-button--finished{
  border: 1px solid #fcc01d;
  background: #fcc01d;
}

.check-button--unfinished{
  border: 1px solid #bcbcba;
  background: #f8f8f6;
}

.checkmark {
  display:inline-block;
  width: 22px;
  height:22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 2px;
  height: 11px;
  background-color: #fcfcfa;
  left: 9px;
  top: 4px;
}

.checkmark_kick {
  position: absolute;
  width: 2px;
  height: 5px;
  background-color: #fcfcfa;
  left: 8px;
  top: 12px;
  transform: rotate(90deg);
}